li.menu.link a {
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 14px;
    color: #e0e6ed;
    font-weight: 500;
    border-left: 1px solid #515365;
    margin-left: 30px;
    padding: 0 0 5px 30px;
}


@media (max-width: 991px) {
    li.menu.link a {
        padding: 14px 17px 14px 17px;
        border-left: 0;
        margin-left: 0;
    }
}

.widget-content-area-normal {
    padding: 20px;
    position: relative;
    background-color: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
}


body.dark .widget-content-area-normal {
    padding: 20px;
    position: relative;
    background-color: #0e1726;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #0e1726;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
}

.required:before {
    content: "*";
    font-weight: bold;
    color: red;
    padding-left: 3px;
}

.navbar .navbar-item .nav-item.dropdown.year-dropdown .dropdown-menu {
    min-width: 7rem;
    left: -8px !important;
    right: auto !important;
}

.search-result {
    z-index: 999999;
    max-height: 300px;
    width: 370px;
    overflow: auto;
    margin-top: 5px;
    position: absolute;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

@media (max-width: 767px) {
    .search-result {
        right: 0;
        width: 100%;
        margin-top: 24px;
    }


    .nav.nav-pills .nav-item {
        width: 50%;
    }

    .nav.nav-pills .nav-item button {
        width: 100%;
        text-align: right;
    }
}


body.dark .form-control:disabled:not(.flatpickr-input) {
    background-color: #3b3f5c !important;
}

.form-control:disabled:not(.flatpickr-input) {
    background-color: #fafafa !important;
    border: 0;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}


.nav.nav-pills {
    background: #ffffff !important;
}

body.dark .nav.nav-pills {
    background: #1b2e4b !important;
}

.table .btn-dismiss {
    border-color: #eaeaea !important;
}

body.dark .table .btn-dismiss {
    background-color: #4b4b4b !important;
    border-color: #4b4b4b !important;
}


.nav.nav-pills li.nav-item button.nav-link.active {
    background-color: #5b73e8 !important;
    color: white !important;
}
